<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>User Registration</title>
</head>
    <body>
    <div class ='jumbotron'>
        <form action="." method="post">
            {%csrf_token%}
            <h1 align="center">User Registration</h1>
      <table align = center>
                <tr>
                    <td><label for="id_username">Enter username</label></td>
                    <td><input type="text" id="id_username" name="username"></td>
                </tr><br>

                <tr>
                    <td><label for="id_email">Enter Email Id</label></td>
                    <td><input type="text" id="id_email" name="email"></td>
                </tr><br>

                <tr>
                    <td><label for="id_password">Enter password</label></td>
                    <td><input type="password" id="id_password" name="pwd"></td>
                </tr>
      </table>
            <h1 align="center"> <input type="submit" class = 'btn btn-primary' Value="Register"></h1>
  </form>
    </div>

</body>
</html>